<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scheduler</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"> -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<header>
		<div>
			<nav class="menu-drop-down">
				<ul>
					<li></li>
					<li>logout</li>
					<li>oo</li>
					<li>oooo</li>
					<li>ooo</li>
				</ul>
			</nav>
		</div>
		<div class="header-bar">
		</div>
	</header>


	<%= yield %>


	<div id="page-adj"></div>

	<footer>
			<nav>
				<ul>
					<% if current_user.blank? == false %>
						<%= link_to new_thing_path do %><li class="footer-button"><%= image_tag("pencil-with-rubber.png") %></li><% end %>
						<%= link_to things_path do %><li class="footer-button"><%= image_tag("calendar-icon.png") %></li><% end %>
						<span><li class="footer-button"><%= image_tag("setting-tool.png") %></li></span>
					<% else %>
						<%= link_to "Create User", new_user_registration_path %>
					<% end %>
				</ul>
			</nav>
	</footer>




<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript">
		function getId(ele){
			var attr = ele.getAttribute("id");
			$(".date-button").removeClass("date-selected");
			if (attr != "") {
				$(ele).parent().addClass("date-selected");
			}
			
			$.ajax({
				url: "things/change_session_date/:date",
				type: "GET",
				data: {
					date : attr
				},
				dataType: "html",
				success: function(data) {
					console.log(attr);
				},
				error: function(data) {
					alert('error');
				}
			});
		}

	</script>
</body>
</html>
